mat-card-header {
    margin-bottom: 10px;

    span {
        font-size: 18px;
        font-weight: bold;
    }
}

.node {
    mat-card-header {
        font-size: 18px;
    }

    button {
        background: #37474f;
        color: white;
        width: auto;
        height: 50px;
        font-size: 20px;
    }

    .history {
        margin-top: 100px;
        font-size: 18px;

        span {
            font-size: 20px;
            font-weight: bold;
        }
        .comebackButton {
            background: #37474f;
            color: white;
            width: 40px;
            height: 40px;
            margin-left: 50px;
        }
    }
}